{{define "subject"}} Account Reactivated - GopherSocialNetwork {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi {{.Username}},</p>
    <p>We're pleased to inform you that your GopherSocialNetwork account has been reactivated.</p>
    <p>You can now log in and continue using the platform as usual. We apologize for any inconvenience caused.</p>
    <p>If you have any questions, please don't hesitate to reach out to our support team.</p>

    <p>Thanks,</p>
    <p>The GopherSocialNetwork Team</p>
  </body>
</html>
{{end}}
