{{define "subject"}} Account Suspended - GopherSocialNetwork {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi {{.Username}},</p>
    <p>We're writing to inform you that your GopherSocialNetwork account has been suspended.</p>
    <p>As a result, you are no longer able to access or use your account. If you believe this action was taken in error, please contact our support team for further assistance.</p>

    <p>Thanks,</p>
    <p>The GopherSocialNetwork Team</p>
  </body>
</html>
{{end}}
